<!-- <h1>My hotel name is {{ hotelName }}</h1> -->

<hotelApp-header></hotelApp-header>
<!-- <hotelApp-header></hotelApp-header>
<hotelApp-header></hotelApp-header> -->

<!-- {{ rooms$ | async | json }} -->

<div [hidden]="hideRooms">
  <div [innerHTML]="noOfRooms"></div>
</div>

{{ rooms?.availableRooms ?? "No Room Available" }}
<div [ngStyle]="{ color: rooms.availableRooms > 10 ? 'red' : 'green' }">
  <h1>Available Rooms</h1>
</div>

<h1>{{ getError$ | async }}</h1>

<button (click)="toogle()">Toogle</button>

<button (click)="addRooms()">Add Room</button>

<button (click)="editRooms()">Edit Room</button>

<button (click)="deleteRooms()">Delete Room</button>

<h1>No of Rooms : {{ getRoomsCount$ | async }}</h1>

<div>
  <hotelApp-rooms-lists
    *ngIf="rooms$ | async as rooms"
    [roomsDetail]="rooms"
    (selectedRoom)="selectRoom($event)"
    [title]="title"
  ></hotelApp-rooms-lists>

  <div *ngIf="theRoomWhichIsSelected">
    {{ theRoomWhichIsSelected | json }}
  </div>
</div>
